body{
	color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 62.5%;
    margin: 0 auto;
    background:url(../img/bg-body-03.jpg) no-repeat scroll center 13px #F2F2F2;
}

li{
	list-style:none;
}

header{
	background-color:#F6F6F6;
	margin:0 auto;
}


/** Barra d'idiomes i logo **/

#barra_idioma{
	height:43px;
	background-color:#F6F6F6;	
	margin:0 auto;	
	width:925px;	
}


#logo{
	position: relative;
	float: left;
	height: 43px;
	background: url(../img/logo-ajment.png) top left no-repeat;
}


.logo_top{
	position: absolute;
	z-index:1;	
}

.logo_bottom{
	position: absolute;
	left: 0;
	top: 0;		
}

#logo:hover .logo_bottom{
	left:130px;
	-webkit-transition: all .5s ease-out;
	   -moz-transition: all .5s ease-out;
	    -ms-transition: all .5s ease-out;
	     -o-transition: all .5s ease-out;
	        transition: all .5s ease-out;
}

#logo:hover .logo_top{
	background-color: #fff;
}

#idiomes{
	float:right;
	margin-top: 15px;
}

#idiomes li a:hover span{
	background:url(../img/marcador-idioma.png) center bottom no-repeat;	
	padding-bottom:4px;
}

#idiomes li{
	float:left;
	background:url(../img/separador-barra.png) repeat-y;
	line-height:1.4em;
	width:40px;
}

#idiomes li a{
	font-size:12px;
	padding:0 8px;	
	font-style:normal;
	color:#000;
	text-decoration:none;
}


#first{
	background:none !important;
	font-size:12px;
	padding-left: 2px;
}

/**main**/

#main{
	margin:0 auto;
	width:925px;
}
#main ul{
	padding-left:0;
}

/* Barra de titol */

#barcelona-titol{
	padding-top: 4px;
	padding-left: 5px!important;
}

#barra-titol{
	padding-left: 5px!important;
}
#barra-titol li{
	float:left;
	padding-right:20px;	
}

#barra-titol li a{
	text-decoration:none;
	color:#FFF;
	font-size:16px;
	font-weight:bold;	
}

/* Barra de cerca */

#barra-cerca{
	float:right;
}

#frmcerca{
	background:url(../img/input-cercador.png) no-repeat center;
	float:left;
	width:203px;
	height:20px;
	margin-top:0;
}


#barra-cerca a{
	float:right;	
	color:#FFF;
	text-decoration:none;	
	font-size: 1.1em !important;
	text-decoration: none;
}

#cerca{
	background: none repeat scroll 0 0 transparent;
    border: 0 none;		
	height:20px;	
	font-size:12px;
	float:left;
	padding-left:10px;
}

#barra-cerca form p{
	margin-top:0;
}

#cerca-avancada{
	float: right;
	margin: 5px 0 0 10px;
	
}

#envia{	
	margin: 4px 0 0 10px;	
}

/* marc web */

#marc-web{
	padding-top:40px;
}

#actualitat{	
	height:350px;	
	background-color:#FFF;
	box-shadow: 0px 30px 20px -20px #999;		
}

#actualitat-gran{
	float:left;
	height:340px;
	width:604px;
	padding:5px 0 0 5px;
}

.actualitat-miniatures:nth-child(2), .actualitat-miniatures:nth-child(3){
	padding:5px 0 1px 2px;
}

.actualitat-miniatures{
	float:left;
	height: 84px;
	width: 154px;
	padding:0 0 1px 2px;
	
}

/* Serveis */

#serveis{
	padding: 40px 0 0 0;
}

/* Oficina virtual */

#oficina{
	background:url(../img/sprites-2.jpg) no-repeat scroll 0 0 transparent;	
	float: left;
	padding: 0 4px 0 0;
}

#oficina a{
	height: 172px;
	width: 174px;
	position: relative;
	letter-spacing: -0.06em;
	color: #0D8ED1;
	font-weight: bold;	
	text-decoration: none;
	word-spacing: -0.1em;
	display: block;
}

#oficina a h2{
	padding-top: 70px;
	margin-left: 10px;
	border-bottom: 1px dotted #0D8ED1;
	word-spacing: -0.1em;
	font-size: 1.6em;
	margin-top: 0px;
	width: 97px;
	margin-bottom:4px;
}

#oficina ul{	  
    line-height: 1em;
    padding-left: 4px;
}

#oficina ul li{
	color: #fcbf05;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	padding-left: 10px;
	line-height: 14px;
}

#oficina ul li span{
	color: #1A4059;	
	padding-left: 2px;
	font-weight: bold;

}

/* Guia Barcelona */

#guia{
	background: url(../img/bn-guia-bcn-ca.jpg) no-repeat scroll 0 0;	
	float: left;
}

#guia a{
	height:85px;
	width:496px;
	position: relative;	
	color: #0D8ED1;	
	text-decoration: none;
	word-spacing: -0.1em;
	display: block;	
}

#guia a h2{
	font-size: 1.8em;
    padding: 13px 0 0 14px;
    letter-spacing: -0.06em;
    word-spacing: -0.1em;	
    font-weight: bold;	
    margin: 0 auto;
}

#guia ul li{
	color: #555555;
    display: block;    
    margin-left: 1.4em;
    width: 11.8em;
}

#guia ul li span{
	line-height: 1.1em;
	font-size: 1.1em;
}

/* Planol */

#planol a, #com a, #transit a, #webs-bcn a{	
	position: relative;	
	color: #0D8ED1;	
	text-decoration: none;
	word-spacing: -0.1em;
	width: 496px;
	height: 85px;
}

#planol a h2, #com a h2, #transit a h2, #webs-bcn a h2{	
	font-size: 1.8em;
    padding: 13px 0 0 14px;
    letter-spacing: -0.06em;
    font-weight: bold;	
    margin: 0 auto;
}


#planol ul li, #com ul li, #transit ul li, #webs-bcn ul li{
	color: #555555;
    display: block;
    line-height: 1.1em;
    margin-left: 1.4em;
    width: 11.8em;
}


#serveis li:nth-child(n+3){
	width: 249px;
	height: 93px;
	float: left;	
}

#planol{
	background:url(../img/sprites-2.jpg) no-repeat scroll left -788px transparent;		
}

#com{
	background:url(../img/sprites-2.jpg) no-repeat scroll left -483px transparent;
}

#transit{
	background:url(../img/sprites-2.jpg) no-repeat scroll left -990px transparent;
}

#webs-bcn{
	background:url(../img/sprites-2.jpg) no-repeat scroll left -1181px transparent;
}